{% extends 'base.html.twig' %}

{% block title %}New Events{% endblock %}

{% block body %}
    <h1 class="text-center m-5">Create new Events</h1>

    {{ include('events/_form.html.twig') }}

    <div class="container d-flex justify-content-center my-3">
        <a class="btn btn-success" href="{{ path('app_events_index') }}">Back</a>
    </div>
{% endblock %}
